<div class="hdrWrapper">
  <div class="header">
    <h1 class="commonTtl"><a class="commonTtl__link" href="/introduce/myprofile/list/index.html">tkcco21</a></h1>
    <p class="commonTtl__copy">TKC introduce myself<br>by my creation</p>
    <nav class="commonNav">
      <h2 class="commonNav__ttl"> - My Work - </h2>
      <ul class="commonNav__list">
        <li><a href="/introduce/myprofile/gallery/index.html">photos</a></li>
      </ul>
    </nav>
    <div class="commonHdr__noteWrap">
      <p class="commonHdr__note">※まとまりがなく<br>適当なのはご愛嬌</p>
      <p class="commonHdr__note">※人名は敬称略</p>
    </div>
  </div>
  <div class="footer">
    <p>&copy; tkcco21</p>
  </div>
</div>
