<div class="header js-header">
  <div class="header__body">
    <h1 class="header__title">tkcco21</h1>
    <p class="header__title--lead">Introduce myself<br>by my creation</p>
    <nav class="header__nav">
      <ul class="header__nav--list">
        <li><a href="/introduce/myprofile/gallery/index.html">GALLERY</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__copyright">
    <p>&copy;2016 tkcco21</p>
  </div>
</div>
