<div class="header">
  <div class="header__body">
    <h1 class="header__title"><a class="header__title--link" href="/introduce/myprofile/list/index.html">tkcco21</a></h1>
    <p class="header__title--lead">Introduce myself<br>by my creation</p>
    <nav class="header__nav">
      <h2 class="header__nav--title">- My Work -</h2>
      <ul class="header__nav--list">
        <li><a href="/introduce/myprofile/gallery/index.html">photos</a></li>
      </ul>
    </nav>
    <div class="header__note">
      <p>※まとまりがなく<br>適当なのはご愛嬌</p>
      <p>※人名は敬称略</p>
    </div>
  </div>
  <div class="header__copyright">
    <p>&copy; tkcco21</p>
  </div>
</div>
