<div class="p-detailSlide">
  <div class="p-detailSlide__back">
    <a class="p-detailSlide__back__link" href="/introduce/myprofile/list/index.html">
      <img alt="" src="/introduce/myprofile/assets/images/list/back.png">
      <p>Back To List Page</p>
    </a>
  </div>
  <ul class="p-detailSlide__list">
    <li>
      <a href="#background" data-url="/introduce/myprofile/assets/images/list/data/background.html">
        <img src="/introduce/myprofile/assets/images/list/background.jpg" alt="">
        <div class="p-list__title">
          <h3 class="js-list-en show">Background</h3>
          <h3 class="js-list-ja hide">経歴</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#oversea" data-url="/introduce/myprofile/assets/images/list/data/oversea.html">
        <img src="/introduce/myprofile/assets/images/list/oversea.jpg" alt="">
        <div class="p-list__title">
          <h3 class="js-list-en show">Oversea</h3>
          <h3 class="js-list-ja hide">海外</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#skill" data-url="/introduce/myprofile/assets/images/list/data/skill.html">
        <img src="/introduce/myprofile/assets/images/list/skill.jpg" alt="">
        <div class="p-list__title">
          <h3 class="js-list-en show">Skill</h3>
          <h3 class="js-list-ja hide">技術</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#sports" data-url="/introduce/myprofile/assets/images/list/data/sports.html">
        <img src="/introduce/myprofile/assets/images/list/sports.jpg" alt="">
        <div class="p-list__title">
          <h3 class="js-list-en show">sports</h3>
          <h3 class="js-list-ja hide">スポーツ</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#game" data-url="/introduce/myprofile/assets/images/list/data/game.html">
        <img src="/introduce/myprofile/assets/images/list/game.jpg" alt="">
        <div class="p-list__title">
          <h3 class="js-list-en show">Game</h3>
          <h3 class="js-list-ja hide">ゲーム</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#tv-movie" data-url="/introduce/myprofile/assets/images/list/data/tv_movie.html">
        <img src="/introduce/myprofile/assets/images/list/movie.jpg" alt="">
        <div class="p-list__title">
          <h3 class="js-list-en show">TV・Movie</h3>
          <h3 class="js-list-ja hide">ドラマ・映画</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#book" data-url="/introduce/myprofile/assets/images/list/data/book.html">
        <img src="/introduce/myprofile/assets/images/list/book.jpg" alt="">
        <div class="p-list__title">
          <h3 class="js-list-en show">Book</h3>
          <h3 class="js-list-ja hide">本</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#mygirl" data-url="/introduce/myprofile/assets/images/list/data/mygirl.html">
        <img src="/introduce/myprofile/assets/images/list/girl.jpg" alt="">
        <div class="p-list__title">
          <h3 class="js-list-en show">My Girl</h3>
          <h3 class="js-list-ja hide">彼女</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#future" data-url="/introduce/myprofile/assets/images/list/data/future.html">
        <img src="/introduce/myprofile/assets/images/list/future.jpg" alt="">
        <div class="p-list__title">
          <h3 class="js-list-en show">Future</h3>
          <hp-list//ja hide">将来</h3>
        </div>
      </a>
    </li>
  </ul>
  <div class="p-detailSlide__btn">
    <a class="up" href=""><img src="/introduce/myprofile/assets/images/list/up.png"></a>
    <a class="down" href=""><img src="/introduce/myprofile/assets/images/list/down.png"></a>
  </div>
</div>
