// gallery.htmlのスタイル
.g-body {
  background-color: $cmngreen;
}
.g-overlay {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    > img {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 80%;
      box-shadow: 0 0 200px 40px;
    }
  }
  &__btn {
    position: absolute;
    top: 48%;
    width: 5%;
    cursor: pointer;
    z-index: 10;
    > img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  > p {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0 8px 5px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    z-index: 10;
  }
}
.nextRight {
  right: 30px;
}
.prevLeft {
  left: 30px;
}
.g-cont__wrapper {
  float: left;
  margin-left: 20%;
  width: 80%;
  z-index: -1;
}
.g-cont__innerWrap {
  padding: 30px;
  margin: 0 auto;
  width: 900px;
  box-sizing: border-box;
  & img {
    opacity: 0;
  }
}
.g-cont__list1st {
  margin-bottom: 3px;
}
.g-contList1st__l {
  float: left;
  margin-right: 4px;
  width: 560px;
  > img {
    display: block;
    width: 100%;
  }
}
.g-contList1st__r {
  float: left;
  &Top {
    margin-bottom: 4px;
    width: 276px;
    > img {
      display: block;
      width: 100%;
    }
  }
  &Bottom {
    width: 276px;
    > img {
      display: block;
      width: 100%;
    }
  }
}
.g-cont__list2nd {
  margin-bottom: 3px;
}
.g-contList2nd__l {
  float: left;
  margin-right: 4px;
  width: 278px;
  > img {
    display: block;
    width: 100%;
    height: 186px;
  }
}
.g-contList2nd__m {
  float: left;
  margin-right: 4px;
  width: 278px;
  > img {
    display: block;
    width: 100%;
    height: 186px;
  }
}
.g-contList2nd__r {
  float: left;
  width: 276px;
  > img {
    display: block;
    width: 100%;
    height: 186px;
  }
}
.g-cont__list3rd {
  margin-bottom: 3px;
}
.g-contList3rd__t {
  width: 840px;
  margin-bottom: 3px;
  > img {
    display: block;
    width: 100%;
  }
}
.g-contList3rd__l {
  float: left;
  margin-right: 4px;
  width: 418px;
  > img {
    display: block;
    width: 100%;
    height: 278px;
  }
}
.g-contList3rd__r {
  float: left;
  width: 418px;
  > img {
    display: block;
    width: 100%;
    height: 278px;
  }
}
.g-cont__list4th {
  margin-bottom: 4px;
}
.g-contList4th__l {
  float: left;
  margin-right: 4px;
  width: 278px;
  > img {
    display: block;
    width: 100%;
    height: 186px;
  }
}
.g-contList4th__m {
  float: left;
  margin-right: 4px;
  width: 278px;
  > img {
    display: block;
    width: 100%;
    height: 186px;
  }
}
.g-contList4th__r {
  float: left;
  width: 276px;
  > img {
    display: block;
    width: 100%;
    height: 186px;
  }
}