.p-leagle {
  margin: 0 auto;
  max-width: $pc-middle-width;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  &__mainVisual  {
    padding-top: 180px;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      padding-top: 0;
      margin-bottom: 10%;
    }
    &--image {
      display: block;
      margin: 0 auto;
      width: 40%;
      height: auto;
      text-align: center;
      @media screen and (max-width: 767px) {
        width: 60%;
      }
    }
    &--note {
      margin: 2%;
      font-size: 14px;
      text-align: center;
      a {
        color: $link-blue;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
  &__search{
    margin-bottom: 30px;
    text-align: center;
    &--form {
      margin: 0 auto;
      width: 55%;
      @media screen and (max-width: 767px) {
        width: 90%;
      }
      > input {
        padding: 10px;
        width: 100%;
        font-size: 16px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        &:hover {
          border: 1px solid #aaa;
        }
        &:focus {
          border: 1px solid #0066fd;
          outline: none;
        }
      }
    }
  }
  &__boxes {
    text-align: center;
    > li {
      display: inline-block;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: bold;
      color: #888;
      text-align: center;
      background-color: #eee;
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}