/* index.htmlã®style */
.leagleWrapper {
  margin: 0 auto;
  max-width: 860px;
}
.l-logo {
  margin-bottom: 20px;
}
.l-logo__img {
  display: block;
  padding-top: 180px;
  margin: 0 auto;
  width: 40%;
  height: auto;
  text-align: center;
}
.l-logo__inspired {
  margin: 2%;
  font-size: 14px;
  text-align: center;
  a {
    color: #00f;
    font-weight: bold;
  }
}
.l-search {
  margin-bottom: 30px;
  text-align: center;
}
.l-form__area {
  height: 40px;
}
.l-text__area {
  padding: 10px;
  width: 55%;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.l-text__area:hover {
  border: 1px solid #aaa;
}
.l-text__area:focus {
  border: 1px solid #006eff;
  outline: none;
}
.l-search__btn {
  height: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.l-boxes {
  text-align: center;
}
.l-boxes > li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #eee;
}
.l-boxes > li:first-child {
  margin-right: 5px;
}