// list.htmlのスタイル
.listBody {
  overflow: hidden;
}
.d-cont__innerWrap {
  margin-left: 20%;
  width: 80%;
}
.d-cont__list {
  > li {
    float: left;
    display: none;
    position: relative;
    top: -40px;
    // left: 20px;
    width: 33.333333333%;
    opacity: 0;
    filter: grayscale(100%);
    &.background {
      background: url(/introduce/myprofile/assets/images/detail__list/background.jpg) center center no-repeat;
      background-size: cover;
    }
    &.oversea {
      background: url(/introduce/myprofile/assets/images/detail__list/oversea.jpg) center center no-repeat;
      background-size: cover;
    }
    &.skill {
      background: url(/introduce/myprofile/assets/images/detail__list/skill.jpg) center center no-repeat;
      background-size: cover;
    }
    &.sports {
      background: url(/introduce/myprofile/assets/images/detail__list/sports.jpg) center center no-repeat;
      background-size: cover;
    }
    &.game {
      background: url(/introduce/myprofile/assets/images/detail__list/game.jpg) center center no-repeat;
      background-size: cover;
    }
    &.movie {
      background: url(/introduce/myprofile/assets/images/detail__list/movie.jpg) center center no-repeat;
      background-size: cover;
    }
    &.book {
      background: url(/introduce/myprofile/assets/images/detail__list/book.jpg) center center no-repeat;
      background-size: cover;
    }
    &.girl {
      background: url(/introduce/myprofile/assets/images/detail__list/girl.jpg) center center no-repeat;
      background-size: cover;
    }
    &.future {
      background: url(/introduce/myprofile/assets/images/detail__list/future.jpg) center center no-repeat;
      background-size: cover;
    }
  }
}
.d-contList__hover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, .2);
  box-sizing: border-box;
  > h3 {
    position: absolute;
    top: 45%;
    margin: 0 0 10px;
    width: 90%;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}