/* top.htmlã®style */
.topWrapper {
  position: relative;
  background-color: #ccc;
}
.prologue {
  position: absolute;
  width: 100%;
  font-weight: bold;
  font-size: 65px;
  color: #fff;
  text-align: center;
  > span {
    display: none;
  }
}
.p1 {
  top: 35%;
  opacity: 0;
}
.p2 {
  top: 50%;
  opacity: 0;
}
.topLink {
  width: 100%;
  position: absolute;
  top: 40%;
  &:hover {
    z-index: 1;
  }
}
.p3 {
  display: none;
  margin: 0 auto;
  padding: 15px;
  width: 60%;
  font-size: 65px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: #999;
  opacity: 0;
  transition: background-color 1s;
  &:hover {
    background-color: $cmngreen;
  }
}