<% var title = "Detail | Introduce1.0"; %>
<% var keyword = "フロントエンド エンジニア 自己紹介 詳細"; %>
<% var descriptiion = "新人フロントエンドエンジニアの自己紹介の詳細ページ"; %>
<% include ../../_include/_head.ejs %>
<body>
  <div class="detailWrapper clearfix">
    <% include ../../_include/_header.ejs %>
    <div class="d-contMore__innerWrap">
      <ul class="d-contMore__list">
      </ul>
    </div>
    <% include ../../_include/_slide.ejs %>
  </div>
  <% var addjs = '' %>
  <% include ../../_include/_footer.ejs %>
</body>
</html>
