<% var title = "Detail | Introduce2.0";
var keyword = "front-end, engineer, introduce, profile, japan";
var description = "engineerのtkcco21の自己紹介サイト";
var url = "http://tkcco.github.io/introduce/myprofile/list/detail/index.html"
var image = "http://tkcco.github.io/introduce/myprofile/assets/images/og/og.jpg"
%><!DOCTYPE html>
<html lang="ja">
  <head>
    <% include ../../_include/_head %>
  </head>
<body>
  <div class="u-clearfix">
    <% include ../../_include/_header %>
    <div class="p-detail">
      <div class="p-detail__wrapper js-detail">
      </div>
    </div>
    <% include ../../_include/_slide %>
  </div>
  <% include ../../_include/_footer %>
</body>
</html>
