<% var title = "Welcome | introduce1.0"; %>
<% var keyword = ""; %>
<% var descriptiion = ""; %>
<% include ../_include/_head.ejs %>
<body>
  <div class="topWrapper">
    <p class="prologue p1">What's up, guys!</p>
    <p class="prologue p2">Let's get started!</p>
    <div class="topLink">
      <a class="p3" href="/myprofile/list/index.html">introduce2.0</a>
    </div>
  </div>
  <% var addjs = "/assets/scripts/snow.js" %>
  <% include ../_include/_footer.ejs %>
</body>
</html>
