<% var title = "leagle inspired by Google | introduce2.0"; %>
<% var keyword = "leagle front-end engineer introduce profile japan"; %>
<% var descriptiion = "engineerのtkcco21の自己紹介サイト。導入はgoogleさんにインスパイアされデザインで"; %>
<% var url = "http://tkcco.github.io/introduce/myprofile/index.html" %>
<% var image = "http://tkcco.github.io/introduce/myprofile/assets/images/og/og.jpg"%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <% include ./_include/_head %>
  </head>
<body>
  <div class="p-leagle">
    <div class="p-leagle__mainVisual">
      <img class="p-leagle__mainVisual--image" src="/introduce/myprofile/assets/images/leagle_logo.png" alt="" />
      <p class="p-leagle__mainVisual--note">inspired by <a href="https://www.google.co.jp/">Google</a></p>
    </div>
    <div class="p-leagle__search">
      <form class="p-leagle__search--form js-leagle-form" action="" method="">
        <input name='name' type="text" value="">
      </form>
    </div>
    <ul class="p-leagle__boxes">
      <li>leagle 検索</li>
      <li>I'm Feeling Lucky</li>
    </ul>
  </div>
  <% include ./_include/_footer %>
</body>
</html>
