<% var title = "leagle inspired by Google | introduce2.0"; %>
<% var keyword = "leagle front-end engineer introduce profile japan"; %>
<% var descriptiion = "engineerのtkcco21の自己紹介サイト。導入はgoogleさんにインスパイアされデザインで"; %>
<% var url = "http://tkcco.github.io/introduce/myprofile/index.html" %>
<% var image = "http://tkcco.github.io/introduce/myprofile/assets/images/og/og.jpg"%>
<% include ./_include/_head.ejs %>
<body>
  <div class="leagleWrapper">
    <div class="l-logo">
      <img class="l-logo__img" src="/introduce/myprofile/assets/images/leagle__logo.png" alt="" />
      <p class="l-logo__inspired">inspired by <a href="https://www.google.co.jp/">Google</a></p>
    </div>
    <div class="l-search">
      <form class="l-form" action="" method="">
        <input class="l-text__area" name='name' type="text" value="">
      </form>
    </div>
    <ul class="l-boxes">
      <li>leagle 検索</li>
      <li>I'm Feeling Lucky</li>
    </ul>
  </div>
  <% var addjs = '' %>
  <% include ./_include/_footer.ejs %>
</body>
</html>
