<% var metaTitle = "leagle"; %>
<% var metaKeyword = "leagle parody"; %>
<% var metaDesc = "導入はgoogleさんにインスパイアされデザインで"; %>
<% include ./common/_head.ejs %>
<body>
  <div class="leagleWrapper">
    <div class="l-logo">
      <img class="l-logo__img" src="/assets/images/leagle__logo.png" alt="" />
    </div>
    <div class="l-search">
      <form class="l-form" action="" method="">
        <input class="l-text__area" name='name' type="text" value="">
      </form>
    </div>
    <ul class="l-boxes">
      <li>leagle 検索</li>
      <li>I'm Feeling Lucky</li>
    </ul>
  </div>
  <% var addjs = '' %>
  <% include ./common/_footer.ejs %>
</body>
</html>
