<% var metaTitle = "Introduce1.0"; %>
<% var metaKeyword = "自己紹介 フロントエンド エンジニア"; %>
<% var metaDesc = "新人フロントエンドエンジニアの自己紹介ページ"; %>
<% include ./common/_head.ejs %>
<body class="listBody">
  <div class="detailWrapper clearfix">
    <% include ./common/_header.ejs %>
    <div class="d-cont__innerWrap">
      <ul class="d-cont__list clearfix">
        <li>
          <a href="detail.html#background">
            <img src="/assets/images/detail__list/background.jpg" alt="">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Background</h3>
              <h3 class="d-hoverTtl__ja hide">経歴</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="detail.html#oversea">
            <img src="/assets/images/detail__list/oversea.jpg" alt="">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Oversea</h3>
              <h3 class="d-hoverTtl__ja hide">海外</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="detail.html#skill">
            <img src="/assets/images/detail__list/skill.jpg" alt="">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Skill</h3>
              <h3 class="d-hoverTtl__ja hide">技術</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="detail.html#sports">
            <img src="/assets/images/detail__list/sports.jpg" alt="">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">sports</h3>
              <h3 class="d-hoverTtl__ja hide">スポーツ</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="detail.html#game">
            <img src="/assets/images/detail__list/game.jpg" alt="">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Game</h3>
              <h3 class="d-hoverTtl__ja hide">ゲーム</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="detail.html#tv-movie">
            <img src="/assets/images/detail__list/movie.jpg" alt="">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">TV・Movie</h3>
              <h3 class="d-hoverTtl__ja hide">ドラマ・映画</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="detail.html#book">
            <img src="/assets/images/detail__list/book.jpg" alt="">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Book</h3>
              <h3 class="d-hoverTtl__ja hide">本</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="detail.html#mygirl">
            <img src="/assets/images/detail__list/girl_off.jpg" alt="">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">My Girl</h3>
              <h3 class="d-hoverTtl__ja hide">彼女</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="detail.html#future">
            <img src="/assets/images/detail__list/future.jpg" alt="">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Future</h3>
              <h3 class="d-hoverTtl__ja hide">将来</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <% var addjs = '' %>
  <% include ./common/_footer.ejs %>
</body>
</html>
