<div class="p-detail__each">
  <h2 class='p-detail__ttl'>GAME BOY</h2>
  <div class="p-detail__txt">
    <p>ポケモン 赤・青・緑<br>
      ゼルダの伝説 夢を見る島<br>
      メダロット<br>
      ドラクエ テリーのワンダーランド</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>GAME BOY COLOR</h2>
  <div class="p-detail__txt">
    <p>ポケモン ピカチュウ版・金・銀<br>
      ドラゴンクエスト 1・2・3<br>
      メダロット<br>
      ゼルダの伝説ふしぎな木の実 時空の書・天空の書<br>
      ワリオランド<br>
      ロボットポンコツ<br>
      ドラクエ イル・ルカ</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>GAME BOY ADVANCE</h2>
  <div class="p-detail__txt">
    <p>トマトアドベンチャー<br>
      テニスの王子様<br>
      ロックマンエグゼ<br>
      黄金の太陽<br>
      パワプロ君ポケット<br>
      モンスターファーム 1・2<br>
      サモンナイトクラフト<br>
      ドラクエ キャラバンハート<br>
      FF タクティクスアドバンス</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>PSP</h2>
  <div class="p-detail__txt">
    <p>モンスターハンター3rd</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>Play Station</h2>
  <div class="p-detail__txt">
    <p>モンスターファーム 1・2<br>
      FF 7・8・9<br>
      鉄拳 2・3<br>
      トバル2<br>
      バストアムーブ
      パワプロ<br>
      ロックマン<br>
      クラッシュバンディクー 1・2・3<br>
      私立ジャスティス学園<br>
      トマランナー<br>
      トマラルク</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>Play Station 2</h2>
  <div class="p-detail__txt">
    <p>鉄拳5<br>
      FF 10・10-2<br>
      テイルズオブリバース<br>
      三国無双<br>
      戦国無双</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>Play Station 3</h2>
  <div class="p-detail__txt">
    <p>FF13<br>
      COD</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>Nintendo DS</h2>
  <div class="p-detail__txt">
    <p>ドラクエ 4・5・6・7</p>
  </div>
</div>
