<div class="p-detail__each">
  <h2 class='p-detail__ttl'>使える技術</h2>
  <div class="p-detail__txt">
    <p>HTML、CSS、JavaScript<br>
      テンプレートエンジン・EJS、jade<br>
      CSSメタ言語・Sass<br>
      その他・Gulp、Git</p>
  </div>
</div>
<div class="p-detail__each">
  <h2 class='p-detail__ttl'>勉強したいこと</h2>
  <div class="p-detail__txt">
    <p>ES6、React、Flux/Redux、<br>
      Angular、TypeScript<br>
      Node.js、Python、Ruby<br>
      Vagrant、Virtualbox</p>
  </div>
</div>
<div class="p-detail__each">
  <h2 class='p-detail__ttl'>作りたいもの</h2>
  <div class="p-detail__txt">
    <p>外部APIを使ったアプリケーション<rb>
      JSで三角関数を使ったやつ<br>
      ポートフォリオサイト<br>
      スクレイピングのAPI<br>
      自作 or Wordpressでブログサイト</p>
  </div>
</div>
