<div class="p-detail__each">
  <h2 class='p-detail__ttl'>水泳</h2>
  <div class="p-detail__txt">
    <p>保育所の年長から小4までスイミングスクールに通ってた<br>
      泳ぐのは速くないけど、水の中は好き。</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>野球</h2>
  <div class="p-detail__txt">
    <p>小3から今も<br>
      家族の影響で物心ついたときにはやってた<br>
      ポジションはサード、ショート、キャッチャー</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>バスケ</h2>
  <div class="p-detail__txt">
    <p>大学2年のとき<br>
      バスケは昔からずっと好き<br>
      NBAが好きだったけど、最近見てない</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>スケート</h2>
  <div class="p-detail__txt">
    <p>大学２年からオーストラリア滞在途中まで<br>
      トリックができなすぎて挫折</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>スノーボード</h2>
  <div class="p-detail__txt">
    <p>大学4年の12月から3月の3ヶ月<br>
      このときに初めてスノーボードに挑戦<br>
      ボックスとかのジブトリックが好き</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>スキューバダイビング</h2>
  <div class="p-detail__txt">
    <p>フィジー滞在中<br>
      1ヶ月で20回ぐらい潜った<br>
      あの感覚がたまらない<br>
      またやりたい！</p>
  </div>
</div>
