<div class="p-detail__each">
  <h2 class='p-detail__ttl'>好きな映画</h2>
  <div class="p-detail__txt">
    <p>ロンゲストヤード<br>
      守護神<br>
      幸せの隠れ場所<br>
      最強の2人<br>
      ソーシャルネットワーク<br>
      今度は愛妻家<br>
      フルートベール駅で<br>
      イミテーションゲーム<br>
      コーチ・カーター<br>
      デイブは宇宙船<br>
      ラッシュアワー<br>
      インターンシップ<br>
      シャッターアイランド<br>
      ものすごくうるさくて ありえないほど近い<br>
      特攻野郎Aチーム</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>ドラマ</h2>
  <div class="p-detail__txt">
    <p>Big Bang Theory<br>
      SUITS<br>
      トリック<br>
      タイガーアンドドラゴン<br>
      ウシジマくん<br>
      釣りバカ日誌<br>
      男はつらいよ<br>
      IWGP</p>
  </div>
</div>

<div class="p-detail__each">
  <h2 class='p-detail__ttl'>アニメ</h2>
  <div class="p-detail__txt">
    <p>もののけ姫<br>
      千と千尋の神隠し<br>
      東京ゴッドファザーズ<br>
      akira<br>
      攻殻機動隊<br>
      イノセンス<br>
      カーズ<br>
      シュガーラッシュ<br>
      ライオンキング<br>
      ベイマックス<br>
      101匹ワンちゃん<br>
      インクレディブル<br>
      ソードアートオンライン<br>
      ドラゴンボール<br>
      秒速5センチメートル<br>
      シュタインズゲート<br>
      あの日見た花の名前を僕達はまだ知らない</p>
  </div>
</div>
