<% var title = "TOP | Introduce2.0"; %>
<% var keyword = "front-end engineer introduce profile japan"; %>
<% var descriptiion = "engineerのtkcco21の自己紹介サイト。"; %>
<% var url = "http://tkcco.github.io/introduce/myprofile/list/index.html" %>
<% var image = "http://tkcco.github.io/introduce/myprofile/assets/images/og/og.jpg"%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <% include ../_include/_head %>
  </head>
<body>
  <div class="u-clearfix">
    <% include ../_include/_header %>
    <div class="p-list">
      <ul class="p-list__wrapper js-list clearfix">
        <li class="background">
          <a href="/introduce/myprofile/list/detail/index.html#background">
            <div class="p-list__title">
              <h3 class="js-list-en show">Background</h3>
              <h3 class="js-list-ja hide">経歴</h3>
            </div>
          </a>
        </li>
        <li class="oversea">
          <a href="/introduce/myprofile/list/detail/index.html#oversea">
            <div class="p-list__title">
              <h3 class="js-list-en show">Oversea</h3>
              <h3 class="js-list-ja hide">海外</h3>
            </div>
          </a>
        </li>
        <li class="skill">
          <a href="/introduce/myprofile/list/detail/index.html#skill">
            <div class="p-list__title">
              <h3 class="js-list-en show">Skill</h3>
              <h3 class="js-list-ja hide">技術</h3>
            </div>
          </a>
        </li>
        <li class="sports">
          <a href="/introduce/myprofile/list/detail/index.html#sports">
            <div class="p-list__title">
              <h3 class="js-list-en show">sports</h3>
              <h3 class="js-list-ja hide">スポーツ</h3>
            </div>
          </a>
        </li>
        <li class="game">
          <a href="/introduce/myprofile/list/detail/index.html#game">
            <div class="p-list__title">
              <h3 class="js-list-en show">Game</h3>
              <h3 class="js-list-ja hide">ゲーム</h3>
            </div>
          </a>
        </li>
        <li class="movie">
          <a href="/introduce/myprofile/list/detail/index.html#tv_movie">
            <div class="p-list__title">
              <h3 class="js-list-en show">TV・Movie</h3>
              <h3 class="js-list-ja hide">ドラマ・映画</h3>
            </div>
          </a>
        </li>
        <li class="book">
          <a href="/introduce/myprofile/list/detail/index.html#book">
            <div class="p-list__title">
              <h3 class="js-list-en show">Book</h3>
              <h3 class="js-list-ja hide">本</h3>
            </div>
          </a>
        </li>
        <li class="girl">
          <a href="/introduce/myprofile/list/detail/index.html#mygirl">
            <div class="p-list__title">
              <h3 class="js-list-en show">My Girl</h3>
              <h3 class="js-list-ja hide">彼女</h3>
            </div>
          </a>
        </li>
        <li class="future">
          <a href="/introduce/myprofile/list/detail/index.html#future">
            <div class="p-list__title">
              <h3 class="js-list-en show">Future</h3>
              <h3 class="js-list-ja hide">将来</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <% include ../_include/_footer %>
</body>
</html>
