<% var title = "TOP | Introduce2.0"; %>
<% var keyword = "front-end engineer introduce profile japan"; %>
<% var descriptiion = "engineerのtkcco21の自己紹介サイト。"; %>
<% var url = "http://tkcco.github.io/introduce/myprofile/list/index.html" %>
<% var image = "http://tkcco.github.io/introduce/myprofile/assets/images/og/og.jpg"%>
<% include ../_include/_head.ejs %>
<body class="listBody">
  <div class="detailWrapper clearfix">
    <% include ../_include/_header.ejs %>
    <div class="d-cont__innerWrap">
      <ul class="d-cont__list clearfix">
        <li class="background">
          <a href="/introduce/myprofile/list/detail/index.html#background">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Background</h3>
              <h3 class="d-hoverTtl__ja hide">経歴</h3>
            </div>
          </a>
        </li>
        <li class="oversea">
          <a href="/introduce/myprofile/list/detail/index.html#oversea">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Oversea</h3>
              <h3 class="d-hoverTtl__ja hide">海外</h3>
            </div>
          </a>
        </li>
        <li class="skill">
          <a href="/introduce/myprofile/list/detail/index.html#skill">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Skill</h3>
              <h3 class="d-hoverTtl__ja hide">技術</h3>
            </div>
          </a>
        </li>
        <li class="sports">
          <a href="/introduce/myprofile/list/detail/index.html#sports">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">sports</h3>
              <h3 class="d-hoverTtl__ja hide">スポーツ</h3>
            </div>
          </a>
        </li>
        <li class="game">
          <a href="/introduce/myprofile/list/detail/index.html#game">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Game</h3>
              <h3 class="d-hoverTtl__ja hide">ゲーム</h3>
            </div>
          </a>
        </li>
        <li class="movie">
          <a href="/introduce/myprofile/list/detail/index.html#tv-movie">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">TV・Movie</h3>
              <h3 class="d-hoverTtl__ja hide">ドラマ・映画</h3>
            </div>
          </a>
        </li>
        <li class="book">
          <a href="/introduce/myprofile/list/detail/index.html#book">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Book</h3>
              <h3 class="d-hoverTtl__ja hide">本</h3>
            </div>
          </a>
        </li>
        <li class="girl">
          <a href="/introduce/myprofile/list/detail/index.html#mygirl">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">My Girl</h3>
              <h3 class="d-hoverTtl__ja hide">彼女</h3>
            </div>
          </a>
        </li>
        <li class="future">
          <a href="/introduce/myprofile/list/detail/index.html#future">
            <div class="d-contList__hover">
              <h3 class="d-hoverTtl__en show">Future</h3>
              <h3 class="d-hoverTtl__ja hide">将来</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <% var addjs = '' %>
  <% include ../_include/_footer.ejs %>
</body>
</html>
