        <div class="d-contMore__slideWrap">
            <div class="d-contMore-back">
                <a class="clearfix" href="list.html">
                    <!-- <img src="../img/detail__list/back.png" alt=""> -->
                    <p><img src="../img/detail__list/back.png" alt="">Back To List</p>
                </a>
            </div>
            <ul class="d-contMore__slideList">
                <li>
                    <a href="#background">
                        <img src="../../img/detail__list/background.jpg" alt="">
                        <div class="d-contList__hover">
                            <h3 class="d-hoverTtl__en show">Background</h3>
                            <h3 class="d-hoverTtl__ja hide">経歴</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#oversea">
                        <img src="../../img/detail__list/oversea.jpg" alt="">
                        <div class="d-contList__hover">
                            <h3 class="d-hoverTtl__en show">Oversea</h3>
                            <h3 class="d-hoverTtl__ja hide">海外</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#skill">
                        <img src="../../img/detail__list/skill.jpg" alt="">
                        <div class="d-contList__hover">
                            <h3 class="d-hoverTtl__en show">Skill</h3>
                            <h3 class="d-hoverTtl__ja hide">技術</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#sports">
                        <img src="../../img/detail__list/sports.jpg" alt="">
                        <div class="d-contList__hover">
                            <h3 class="d-hoverTtl__en show">sports</h3>
                            <h3 class="d-hoverTtl__ja hide">スポーツ</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#game">
                        <img src="../../img/detail__list/game.jpg" alt="">
                        <div class="d-contList__hover">
                            <h3 class="d-hoverTtl__en show">Game</h3>
                            <h3 class="d-hoverTtl__ja hide">ゲーム</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#tv-movie">
                        <img src="../../img/detail__list/movie.jpg" alt="">
                        <div class="d-contList__hover">
                            <h3 class="d-hoverTtl__en show">TV・Movie</h3>
                            <h3 class="d-hoverTtl__ja hide">ドラマ・映画</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#book">
                        <img src="../../img/detail__list/book.jpg" alt="">
                        <div class="d-contList__hover">
                            <h3 class="d-hoverTtl__en show">Book</h3>
                            <h3 class="d-hoverTtl__ja hide">本</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#mygirl">
                        <img src="../../img/detail__list/girl_off.jpg" alt="">
                        <div class="d-contList__hover">
                            <h3 class="d-hoverTtl__en show">My Girl</h3>
                            <h3 class="d-hoverTtl__ja hide">彼女</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#future">
                        <img src="../../img/detail__list/future.jpg" alt="">
                        <div class="d-contList__hover">
                            <h3 class="d-hoverTtl__en show">Future</h3>
                            <h3 class="d-hoverTtl__ja hide">将来</h3>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="d-contMore__slideBtn">
                <div class="up"><img src="../img/detail__list/up.png" alt=""></div>
                <div class="down"><img src="../img/detail__list/down.png" alt=""></div>
            </div>
        </div>
