.header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  background-color: $common-green;
  &__body {
    padding: 50% 5% 0;
  }
  &__title {
    margin-bottom: 10%;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    &--link {
      color: #000;
    }
    &--lead {
      font-size: 14px;
      color: #fff;
      text-align: center;
    }
  }
  &__nav {
    padding-top: 60px;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    &--list {
      text-align: center;
      list-style: none;
      > li {
        > a {
          display: inline-block;
          padding: 3px 20px;
          width: 100%;
          font-weight: 600;
          font-size: 17px;
          color: $common-green;
          text-decoration: none;
          border: 3px solid #fff;
          background-color: #fff;
          transition: all .7s;
          &:hover {
            color: #fff;
            background-color: $common-green;
          }
        }
      }
    }
  }
  &__note {
    position: absolute;
    top: 70%;
    left: 5%;
    padding: 5%;
    width: 90%;
    background-color: #fff;
    > p {
      display: block;
      margin: 30px auto 0;
      width: 100%;
      font-size: 12px;
      color: #888;
      text-decoration: underline;
      text-align: center;
      line-height: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__copyright {
    position: absolute;
    bottom: 5%;
    width: 100%;
    > p {
      text-align: center;
    }
  }
}