// detail下層の右slideのスタイル
.p-detailSlide {
  float: left;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  @media screen and (max-width: 767px) {
    top: 60px;
    position: relative;
  }
  &__back {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 27px;
    background-color: #000;
    z-index: 1;
    &__link {
      display: block;
      font-size: 0;
      text-align: center;
      transition: all .7s ease-in;
      &:hover {
        background-color: $common-green;
      }
      > img {
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        vertical-align: middle;
      }
      > p {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        vertical-align: middle;
      }
    }
  }
  &__list {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #000;
    @media screen and (max-width: 767px) {
      position: initial;
    }
    > li {
      display: block;
      width: 100%;
      filter: grayscale(100%);
      .p-list__title {
        @media screen and (max-width: 767px) {
          padding: 0;
        }
        > h3 {
          @media screen and (max-width: 767px) {
            width: 80%;
            font-size: 14px;
          }
        }
      }
      > a {
        display: block;
        position: relative;
        > img {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
  &__btn {
    > a {
      display: block;
      position: absolute;
      padding: 2% 0;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
      &.up {
        top: 27px;
      }
      > img {
        display: block;
        padding: 4px 0;
        margin: 0 auto;
        width: 60px;
        height: 22px;
      }
    }
  }
}