<% var title = "Gallery | Introduce2.0"; %>
<% var keyword = "gallery front-end engineer introduce profile japan"; %>
<% var descriptiion = "engineerのtkcco21の自己紹介サイト。"; %>
<% var url = "http://tkcco.github.io/introduce/myprofile/gallery/index.html" %>
<% var image = "http://tkcco.github.io/introduce/myprofile/assets/images/og/og.jpg"%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <% include ../_include/_head %>
  </head>
<body>
  <!-- modal -->
  <div class="p-modal">
    <a class="p-modal__close" href="">×</a>
      <a class="p-modal__btn is-right" href="" data-direction="next">
        <img src="/introduce/myprofile/assets/images/gallery/next.png">
      </a>
      <a class="p-modal__btn is-left" href="" data-direction="prev">
        <img src="/introduce/myprofile/assets/images/gallery/prev.png">
      </a>
    <div class="p-modal__image"></div>
  </div>
  <!-- /modal -->

  <div class="clearfix">
    <% include ../_include/_header %>
    <div class="p-gallery">
      <div class="p-gallery__wrapper">
        <div class="p-gallery__list-1st clearfix">
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <a href=""><img alt="" src=""></a>
            </div>
            <div>
              <a href=""><img alt="" src=""></a>
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd clearfix">
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-center">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>
        <div class="p-gallery__list-3rd clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <a href=""><img alt="" src=""></a>
            </div>
            <div>
              <a href=""><img alt="" src=""></a>
            </div>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>
        <div class="p-gallery__list-4th clearfix">
          <div class="is-top">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>


        <div class="p-gallery__list-1st clearfix">
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <a href=""><img alt="" src=""></a>
            </div>
            <div>
              <a href=""><img alt="" src=""></a>
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd clearfix">
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-center">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>
        <div class="p-gallery__list-3rd clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <a href=""><img alt="" src=""></a>
            </div>
            <div>
              <a href=""><img alt="" src=""></a>
            </div>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>
        <div class="p-gallery__list-4th clearfix">
          <div class="is-top">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>


        <div class="p-gallery__list-1st clearfix">
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <a href=""><img alt="" src=""></a>
            </div>
            <div>
              <a href=""><img alt="" src=""></a>
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd clearfix">
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-center">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>
        <div class="p-gallery__list-3rd clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <a href=""><img alt="" src=""></a>
            </div>
            <div>
              <a href=""><img alt="" src=""></a>
            </div>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>
        <div class="p-gallery__list-4th clearfix">
          <div class="is-top">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>


        <div class="p-gallery__list-1st clearfix">
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <a href=""><img alt="" src=""></a>
            </div>
            <div>
              <a href=""><img alt="" src=""></a>
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd clearfix">
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-center">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>
        <div class="p-gallery__list-3rd clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <a href=""><img alt="" src=""></a>
            </div>
            <div>
              <a href=""><img alt="" src=""></a>
            </div>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>
        <div class="p-gallery__list-4th clearfix">
          <div class="is-top">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-left">
            <a href=""><img alt="" src=""></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../_include/_footer %>
</body>
</html>
