<% var title = "Gallery | Introduce2.0"; %>
<% var keyword = "gallery front-end engineer introduce profile japan"; %>
<% var descriptiion = "engineerのtkcco21の自己紹介サイト。"; %>
<% var url = "http://tkcco.github.io/introduce/myprofile/gallery/index.html" %>
<% var image = "http://tkcco.github.io/introduce/myprofile/assets/images/og/og.jpg"%>
<% include ../_include/_head.ejs %>
<body class="g-body">
  <div class="galleryWrapper clearfix">
    <% include ../_include/_header.ejs %>
    <div class="g-overlay">
      <p class="g-modal-close">×</p>
      <div class="g-overlay__btn nextRight">
        <img class="g-next" src="/introduce/myprofile/assets/images/g-next.png" alt="">
      </div>
      <div class="g-overlay__btn prevLeft">
        <img class="g-prev" src="/introduce/myprofile/assets/images/g-prev.png" alt="">
      </div>
      <div class="g-overlay__img"></div>
    </div>
    <div class="g-cont__wrapper">
      <div class="g-cont__innerWrap">
        <div class="g-cont__list1st clearfix">
          <div class="g-contList1st__l">
            <img src="" alt="">
          </div>
          <div class="g-contList1st__r">
            <div class="g-contList1st__rTop">
              <img src="" alt="">
            </div>
            <div class="g-contList1st__rBottom">
              <img src="" alt="">
            </div>
          </div>
        </div>

        <div class="g-cont__list2nd clearfix">
          <div class="g-contList2nd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__m">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list3rd clearfix">
          <div class="g-contList3rd__t">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list4th clearfix">
          <div class="g-contList4th__l">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__m">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__r">
            <img src="" alt="">
          </div>
        </div>
        <div class="g-cont__list1st clearfix">
          <div class="g-contList1st__l">
            <img src="" alt="">
          </div>
          <div class="g-contList1st__r">
            <div class="g-contList1st__rTop">
              <img src="" alt="">
            </div>
            <div class="g-contList1st__rBottom">
              <img src="" alt="">
            </div>
          </div>
        </div>

        <div class="g-cont__list2nd clearfix">
          <div class="g-contList2nd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__m">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list3rd clearfix">
          <div class="g-contList3rd__t">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list4th clearfix">
          <div class="g-contList4th__l">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__m">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__r">
            <img src="" alt="">
          </div>
        </div>
        <div class="g-cont__list1st clearfix">
          <div class="g-contList1st__l">
            <img src="" alt="">
          </div>
          <div class="g-contList1st__r">
            <div class="g-contList1st__rTop">
              <img src="" alt="">
            </div>
            <div class="g-contList1st__rBottom">
              <img src="" alt="">
            </div>
          </div>
        </div>

        <div class="g-cont__list2nd clearfix">
          <div class="g-contList2nd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__m">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list3rd clearfix">
          <div class="g-contList3rd__t">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list4th clearfix">
          <div class="g-contList4th__l">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__m">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__r">
            <img src="" alt="">
          </div>
        </div>
        <div class="g-cont__list1st clearfix">
          <div class="g-contList1st__l">
            <img src="" alt="">
          </div>
          <div class="g-contList1st__r">
            <div class="g-contList1st__rTop">
              <img src="" alt="">
            </div>
            <div class="g-contList1st__rBottom">
              <img src="" alt="">
            </div>
          </div>
        </div>

        <div class="g-cont__list2nd clearfix">
          <div class="g-contList2nd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__m">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list3rd clearfix">
          <div class="g-contList3rd__t">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list4th clearfix">
          <div class="g-contList4th__l">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__m">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__r">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% var addjs = '' %>
  <% include ../_include/_footer.ejs %>
</body>
</html>
