<% var title = "Gallery | Introduce1.0"; %>
<% var keyword = "自己紹介 フロントエンド エンジニア カメラ好き 写真好き カメラ 写真"; %>
<% var descriptiion = "新人フロントエンドエンジニアの自己紹介のギャラリーページ"; %>
<% include ../_include/_head.ejs %>
<body class="g-body">
  <div class="galleryWrapper clearfix">
    <% include ../_include/_header.ejs %>
    <div class="g-overlay">
      <p class="g-modal-close">×</p>
      <div class="g-overlay__btn nextRight">
        <img class="g-next" src="/introduce/myprofile/assets/images/g-next.png" alt="">
      </div>
      <div class="g-overlay__btn prevLeft">
        <img class="g-prev" src="/introduce/myprofile/assets/images/g-prev.png" alt="">
      </div>
      <div class="g-overlay__img"></div>
    </div>
    <div class="g-cont__wrapper">
      <div class="g-cont__innerWrap">
        <div class="g-cont__list1st clearfix">
          <div class="g-contList1st__l">
            <img src="" alt="">
          </div>
          <div class="g-contList1st__r">
            <div class="g-contList1st__rTop">
              <img src="" alt="">
            </div>
            <div class="g-contList1st__rBottom">
              <img src="" alt="">
            </div>
          </div>
        </div>

        <div class="g-cont__list2nd clearfix">
          <div class="g-contList2nd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__m">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list3rd clearfix">
          <div class="g-contList3rd__t">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list4th clearfix">
          <div class="g-contList4th__l">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__m">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__r">
            <img src="" alt="">
          </div>
        </div>
        <div class="g-cont__list1st clearfix">
          <div class="g-contList1st__l">
            <img src="" alt="">
          </div>
          <div class="g-contList1st__r">
            <div class="g-contList1st__rTop">
              <img src="" alt="">
            </div>
            <div class="g-contList1st__rBottom">
              <img src="" alt="">
            </div>
          </div>
        </div>

        <div class="g-cont__list2nd clearfix">
          <div class="g-contList2nd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__m">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list3rd clearfix">
          <div class="g-contList3rd__t">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list4th clearfix">
          <div class="g-contList4th__l">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__m">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__r">
            <img src="" alt="">
          </div>
        </div>
        <div class="g-cont__list1st clearfix">
          <div class="g-contList1st__l">
            <img src="" alt="">
          </div>
          <div class="g-contList1st__r">
            <div class="g-contList1st__rTop">
              <img src="" alt="">
            </div>
            <div class="g-contList1st__rBottom">
              <img src="" alt="">
            </div>
          </div>
        </div>

        <div class="g-cont__list2nd clearfix">
          <div class="g-contList2nd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__m">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list3rd clearfix">
          <div class="g-contList3rd__t">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list4th clearfix">
          <div class="g-contList4th__l">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__m">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__r">
            <img src="" alt="">
          </div>
        </div>
        <div class="g-cont__list1st clearfix">
          <div class="g-contList1st__l">
            <img src="" alt="">
          </div>
          <div class="g-contList1st__r">
            <div class="g-contList1st__rTop">
              <img src="" alt="">
            </div>
            <div class="g-contList1st__rBottom">
              <img src="" alt="">
            </div>
          </div>
        </div>

        <div class="g-cont__list2nd clearfix">
          <div class="g-contList2nd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__m">
            <img src="" alt="">
          </div>
          <div class="g-contList2nd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list3rd clearfix">
          <div class="g-contList3rd__t">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__l">
            <img src="" alt="">
          </div>
          <div class="g-contList3rd__r">
            <img src="" alt="">
          </div>
        </div>

        <div class="g-cont__list4th clearfix">
          <div class="g-contList4th__l">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__m">
            <img src="" alt="">
          </div>
          <div class="g-contList4th__r">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% var addjs = '' %>
  <% include ../_include/_footer.ejs %>
</body>
</html>
