<% var title = "Gallery | Introduce2.0"; %>
<% var keyword = "gallery front-end engineer introduce profile japan"; %>
<% var descriptiion = "engineerのtkcco21の自己紹介サイト。"; %>
<% var url = "http://tkcco.github.io/introduce/myprofile/gallery/index.html" %>
<% var image = "http://tkcco.github.io/introduce/myprofile/assets/images/og/og.jpg"%>
<% include ../_include/_head.ejs %>
<body>
  <!-- modal -->
  <div class="p-modal">
    <a class="p-modal__close" href="">×</a>
    <div class="p-modal__btn is-left">
      <img src="/introduce/myprofile/assets/images/g-next.png">
    </div>
    <div class="p-modal__btn is-right">
      <img src="/introduce/myprofile/assets/images/g-prev.png">
    </div>
    <div class="p-modal__image"></div>
  </div>
  <!-- /modal -->

  <div class="clearfix">
    <% include ../_include/_header.ejs %>
    <div class="p-gallery">
      <div class="p-gallery__wrapper">
        <div class="p-gallery__list-1st clearfix">
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <img src="" alt="">
            </div>
            <div>
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd clearfix">
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-center">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>
        <div class="p-gallery__list-3rd clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <img src="" alt="">
            </div>
            <div>
              <img src="" alt="">
            </div>
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>
        <div class="p-gallery__list-4th clearfix">
          <div class="is-top">
            <img src="" alt="">
          </div>
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>


        <div class="p-gallery__list-1st clearfix">
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <img src="" alt="">
            </div>
            <div>
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd clearfix">
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-center">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>
        <div class="p-gallery__list-3rd clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <img src="" alt="">
            </div>
            <div>
              <img src="" alt="">
            </div>
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>
        <div class="p-gallery__list-4th clearfix">
          <div class="is-top">
            <img src="" alt="">
          </div>
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>


        <div class="p-gallery__list-1st clearfix">
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <img src="" alt="">
            </div>
            <div>
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd clearfix">
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-center">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>
        <div class="p-gallery__list-3rd clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <img src="" alt="">
            </div>
            <div>
              <img src="" alt="">
            </div>
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>
        <div class="p-gallery__list-4th clearfix">
          <div class="is-top">
            <img src="" alt="">
          </div>
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>


        <div class="p-gallery__list-1st clearfix">
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <img src="" alt="">
            </div>
            <div>
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd clearfix">
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-center">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>
        <div class="p-gallery__list-3rd clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <img src="" alt="">
            </div>
            <div>
              <img src="" alt="">
            </div>
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>
        <div class="p-gallery__list-4th clearfix">
          <div class="is-top">
            <img src="" alt="">
          </div>
          <div class="is-left">
            <img src="" alt="">
          </div>
          <div class="is-right">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% var addjs = '' %>
  <% include ../_include/_footer.ejs %>
</body>
</html>
