<% var title = "Gallery | Introduce2.0"; %>
<% var keyword = "gallery front-end engineer introduce profile japan"; %>
<% var descriptiion = "engineerのtkcco21の自己紹介サイト。"; %>
<% var url = "http://tkcco.github.io/introduce/myprofile/gallery/index.html" %>
<% var image = "http://tkcco.github.io/introduce/myprofile/assets/images/og/og.jpg"%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <% include ../_include/_head %>
  </head>
<body>
  <!-- modal -->
  <div class="p-modal">
    <a class="p-modal__close" href="">
      <img alt="" src="/introduce/myprofile/assets/images/gallery/modal_close.png">
    </a>
    <a class="p-modal__btn is-right" href="" data-direction="next">
      <img src="/introduce/myprofile/assets/images/gallery/next.png">
    </a>
    <a class="p-modal__btn is-left" href="" data-direction="prev">
      <img src="/introduce/myprofile/assets/images/gallery/prev.png">
    </a>
    <div class="p-modal__image"></div>
  </div>
  <!-- /modal -->

  <div class="u-clearfix">
    <% include ../_include/_header %>
    <div class="p-gallery">
      <div class="p-gallery__wrapper">
        <div class="p-gallery__list-1st u-clearfix">
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo1.jpg"></a>
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo2.jpg"></a>
            </div>
            <div>
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo3.jpg"></a>
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd u-clearfix">
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo4.jpg"></a>
          </div>
          <div class="is-center">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo5.jpg"></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo6.jpg"></a>
          </div>
        </div>
        <div class="p-gallery__list-3rd u-clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo7.jpg"></a>
            </div>
            <div>
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo8.jpg"></a>
            </div>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo9.jpg"></a>
          </div>
        </div>
        <div class="p-gallery__list-4th u-clearfix">
          <div class="is-top">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo10.jpg"></a>
          </div>
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo11.jpg"></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo12.jpg"></a>
          </div>
        </div>


        <div class="p-gallery__list-1st u-clearfix">
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo13.jpg"></a>
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo14.jpg"></a>
            </div>
            <div>
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo15.jpg"></a>
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd u-clearfix">
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo16.jpg"></a>
          </div>
          <div class="is-center">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo17.jpg"></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo18.jpg"></a>
          </div>
        </div>
        <div class="p-gallery__list-3rd u-clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo19.jpg"></a>
            </div>
            <div>
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo20.jpg"></a>
            </div>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo21.jpg"></a>
          </div>
        </div>
        <div class="p-gallery__list-4th u-clearfix">
          <div class="is-top">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo22.jpg"></a>
          </div>
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo23.jpg"></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo24.jpg"></a>
          </div>
        </div>


        <div class="p-gallery__list-1st u-clearfix">
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo25.jpg"></a>
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo26.jpg"></a>
            </div>
            <div>
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo27.jpg"></a>
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd u-clearfix">
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo28.jpg"></a>
          </div>
          <div class="is-center">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo29.jpg"></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo30.jpg"></a>
          </div>
        </div>
        <div class="p-gallery__list-3rd u-clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo31.jpg"></a>
            </div>
            <div>
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo32.jpg"></a>
            </div>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo33.jpg"></a>
          </div>
        </div>
        <div class="p-gallery__list-4th u-clearfix">
          <div class="is-top">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo34.jpg"></a>
          </div>
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo35.jpg"></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo36.jpg"></a>
          </div>
        </div>


        <div class="p-gallery__list-1st u-clearfix">
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo37.jpg"></a>
          </div>
          <div class="is-right">
            <div class="is-right-top">
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo38.jpg"></a>
            </div>
            <div>
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo39.jpg"></a>
            </div>
          </div>
        </div>
        <div class="p-gallery__list-2nd u-clearfix">
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo40.jpg"></a>
          </div>
          <div class="is-center">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo41.jpg"></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo42.jpg"></a>
          </div>
        </div>
        <div class="p-gallery__list-3rd u-clearfix">
          <div class="is-left">
            <div class="is-left-top">
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo43.jpg"></a>
            </div>
            <div>
              <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo44.jpg"></a>
            </div>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo45.jpg"></a>
          </div>
        </div>
        <div class="p-gallery__list-4th u-clearfix">
          <div class="is-top">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo46.jpg"></a>
          </div>
          <div class="is-left">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo47.jpg"></a>
          </div>
          <div class="is-right">
            <a href=""><img alt="" src="/introduce/myprofile/assets/images/gallery/photo48.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../_include/_footer %>
</body>
</html>
